/*NORMAL THINGS*/
body{
	margin: 0;
	font-family: 'Barlow', sans-serif;
}

.header{
	overflow: hidden;
	background-color: #333;
	width: calc(100vw);
}

.header_element{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.header_element-hover:hover{
	background-color: #ddd;
	color: black;
}

.header_element-active:active{
	background-color: #4cafa1;
	color: white;
}

.header_element-selected{
	background-color: #ddd;
	color: black;
}

.footer{
	background-color: #333;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 17px;
	position: fixed;
	bottom: 0;
	width: calc(100vw);
}

/*GALLERY THINGS*/
#fireflies-container{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
}

#fireflies-text{
	height: 100%;
	width: auto;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

#fireflies{
	height: 50%;
	width: 50%;
	margin: 10px;
}

#pixelpainter-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#pixelpainter-text{
	height: 100%;
	width: auto;
	margin-left: 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

#pixelpainter{
	height: 50%;
	width: 50%;
	margin: 10px;
}

#petstore-container{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
}

#petstore-text{
	height: 100%;
	width: auto;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

#petstore{
	height: 50%;
	width: 50%;
	margin: 10px;
}

/*COMMENT THINGS*/
#comments{
	width: 300px;
	height: auto;
}

.comment{
	border-color: black;
	border-style: solid;
	height: auto;
	width: 250px;
	overflow-wrap: normal;
	margin: 5px;
}